<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oreo.server.parking.mapper.ParkingTimeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.oreo.common.model.entity.po.ParkingTime">
        <id column="id" property="id" />
        <result column="parking_id" property="parkingId" />
        <result column="community_id" property="communityId" />
        <result column="parking_start_date" property="parkingStartDate" />
        <result column="parking_start_time" property="parkingStartTime" />
        <result column="parking_end_time" property="parkingEndTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parking_id, community_id, parking_start_date, parking_start_time, parking_end_time, create_time, update_time
    </sql>

</mapper>
