<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oreo.server.order.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.oreo.common.model.entity.po.Order">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="community_id" property="communityId" />
        <result column="car_id" property="carId" />
        <result column="parking_id" property="parkingId" />
        <result column="order_sn" property="orderSn" />
        <result column="order_status" property="orderStatus" />
        <result column="pay_status" property="payStatus" />
        <result column="pay_id" property="payId" />
        <result column="pay_name" property="payName" />
        <result column="pay_time" property="payTime" />
        <result column="order_price" property="orderPrice" />
        <result column="actual_price" property="actualPrice" />
        <result column="add_time" property="addTime" />
        <result column="enter_time" property="enterTime" />
        <result column="leave_time" property="leaveTime" />
        <result column="update_time" property="updateTime" />
        <result column="car_number" property="carNumber" />
        <result column="community_name" property="communityName" />
        <result column="parking_sn" property="parkingSn" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, community_id, car_id, parking_id, order_sn, order_status, pay_status, pay_id, pay_name, pay_time, order_price, actual_price, add_time, enter_time, leave_time, update_time, car_number, community_name, parking_sn, deleted
    </sql>

</mapper>
