<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oreo.server.admin.mapper.ReserveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.oreo.common.model.entity.po.Reserve">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="community_id" property="communityId" />
        <result column="car_id" property="carId" />
        <result column="parking_id" property="parkingId" />
        <result column="reserve_sn" property="reserveSn" />
        <result column="reserve_status" property="reserveStatus" />
        <result column="pay_status" property="payStatus" />
        <result column="pay_type" property="payType" />
        <result column="pay_id" property="payId" />
        <result column="pay_name" property="payName" />
        <result column="pay_time" property="payTime" />
        <result column="reserve_date" property="reserveDate" />
        <result column="reserve_time" property="reserveTime" />
        <result column="reserve_cancel_time" property="reserveCancelTime" />
        <result column="earnest_type" property="earnestType" />
        <result column="earnest_price" property="earnestPrice" />
        <result column="earnest_refund_price" property="earnestRefundPrice" />
        <result column="earnest_refund_time" property="earnestRefundTime" />
        <result column="enter_time" property="enterTime" />
        <result column="leave_time" property="leaveTime" />
        <result column="update_time" property="updateTime" />
        <result column="car_number" property="carNumber" />
        <result column="community_name" property="communityName" />
        <result column="community_address" property="communityAddress" />
        <result column="parking_sn" property="parkingSn" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="out_trade_no" property="outTradeNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, community_id, car_id, parking_id, reserve_sn, reserve_status, pay_status, pay_type, pay_id, pay_name, pay_time, reserve_date, reserve_time, reserve_cancel_time, earnest_type, earnest_price, earnest_refund_price, earnest_refund_time, enter_time, leave_time, update_time, car_number, community_name, community_address, parking_sn, version, deleted, out_trade_no
    </sql>

</mapper>
